<div class="organization">
  <nb-card>
    <nb-card-header>
      Organization
    </nb-card-header>
    <nb-card-body>
      <button nbButton *ngIf="add_organization" status="primary" (click)="open(dialog)">Add organization</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [delete]="false" [edit]="true" [data]="response"
                     [toast]="'Organization'"
                     [src]="'organization'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">
    <nb-card-header id="header">Add organization</nb-card-header>
    <nb-card-body class="form-group">
      <div class="form-group">
        <label>Title</label>
        <label>
          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="object.title">
        </label>
      </div>
      <div class="form-group">
        <label>Description</label>
          <textarea class="form-control" [placeholder]="'Description'" [(ngModel)]="object.description"></textarea>
      </div>

      <div class="add-organization" *ngFor="let item of organizations; let i = index">
        <div class="organization-blocks">
          <div class="organization-item">
            <h5 class="organization">Organization {{i + 1}}</h5>
            <button nbButton status="danger" (click)="deleteOrganization(i)">Delete</button>
          </div>

          <div class="form-group">
            <label>Organization title</label>
            <label>
              <input type="text" class="form-control" placeholder="Organization title" [(ngModel)]="item.title">
            </label>
          </div>
          <div class="form-group">
            <label>Organization description</label>
            <label>
              <textarea type="text" class="form-control" placeholder="Organization description"
                        [(ngModel)]="item.description"></textarea>
            </label>

            <div class="form-group">
              <label>Organization image</label>
              <image-upload [uploadedFiles]="editImage[i]" (removed)="removeImage(i)" [max]="1" [url]="imageUpload"  [headers]="accessToken.headers2"  (uploadFinished)="uploadFinished($event, i)"></image-upload>
            </div>
          </div>
        </div>
      </div>
      <button nbButton status="success" (click)="addOrganization()">Add organization</button>


      <div class="footer-buttons">
        <button nbButton status="primary"
                (click)="onSubmit(); ref.close()"
                class="button">Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>


    </nb-card-body>
  </nb-card>

</ng-template>
