<div class="perfect-renovation">
  <nb-card>
    <nb-card-header>
      Perfect Renovation
    </nb-card-header>
    <nb-card-body>
      <button nbButton *ngIf="add_renovation" status="primary" (click)="open(dialog)">Add renovation</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [delete]="false" [edit]="true" [data]="response"
                     [toast]="'Renovation'"
                     [src]="'perfect-renovation'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">
    <nb-card-header id="header">Add renovation</nb-card-header>
    <nb-card-body class="form-group">
      <div class="form-group">
        <label>Title</label>
        <label>
          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="object.title">
        </label>
      </div>

      <div class="add-renovation" *ngFor="let item of renovation; let i = index">
        <div class="renovation-blocks">
          <div class="renovation-item">
            <h5 class="renovation">Renovation {{i+1}}</h5>
            <button nbButton status="danger" (click)="deleteRenovation(i)">Delete</button>
          </div>

          <div class="form-group">
            <label>Renovation title</label>
            <label>
              <input type="text" class="form-control" placeholder="Renovation title" [(ngModel)]="item.title">
            </label>
          </div>
          <div class="form-group">
            <label>Renovation description</label>
            <label>
              <textarea type="text" class="form-control" placeholder="Renovation description" [(ngModel)]="item.description"></textarea>
            </label>
          </div>
        </div>
      </div>
      <button nbButton status="success" (click)="addRenovation()">Add renovation</button>


      <div class="footer-buttons">
        <button nbButton status="primary"
                (click)="onSubmit(); ref.close()"
                class="button">Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>


    </nb-card-body>
  </nb-card>

</ng-template>
