.nav-line {
  display: none;
}

.nav-cover {
  background-color: rgba(31, 31, 31, 0.61);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-navbar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;

}

.navbar-body {
  position: relative;
  z-index: 100;

  .nav-slogan {
    height: auto;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;

    color: #FFFFFF;
  }

  .nav-button {

    button {
      width: auto;
      height: auto;
      border: none;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      color: #FFFFFF;
      border-radius: 40px;
    }
  }

  .nav-advantages {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .navbar-advantage {
      display: grid;
      padding: 20px;
      margin-bottom: 20px;
      text-align: center;

      img {
        margin-bottom: 30px;
        width: 50px;
        height: 50px;
      }

      .title-advantage {
        margin-bottom: 15px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
      }

      .description-advantage {
        margin-bottom: 10px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        color: #FFFFFF;
      }
    }
  }
}

@media (min-width: 1025px) {
  .nav-slogan {
    font-size: 27px;
    width: 500px;

  }
  .navbar-body {
    padding: 180px 120px 50px 120px;

  }

  .nav-button {

    button {
      padding: 20px 40px;
      margin-top: 50px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1025px) and (min-width: 600px) {


  .nav-slogan {
    margin: auto;
    width: 500px;
    font-size: 24px;
    text-align: center;
  }

  .nav-button {
    display: flex;
    justify-content: center;

    button {
      padding: 20px 40px;
      margin-top: 50px;
      font-size: 20px;
    }
  }


}


@media (min-width: 1600px) {
  .home-navbar {
    max-width: 1500px;
    margin: auto;
  }
}

@media (max-width: 1025px) and (min-width: 820px) {
  .navbar-body {
    padding: 150px 100px 50px 100px;

  }

}

@media (max-width: 820px) and (min-width: 600px) {
  .navbar-body {
    padding: 150px 50px 50px 50px;

  }
}

@media (min-width: 767px) {
  .title-advantage, .description-advantage {
    font-size: 16px;

  }
}

@media (max-width: 767px) {
  .title-advantage, .description-advantage {
    font-size: 20px;

  }
}

@media (min-width: 600px) {
  .navbar-advantage {
    max-width: 215px;
  }

  .nav-advantages {
    margin-bottom: 150px;

  }
}

@media (max-width: 600px) {
  .navbar-body {
    padding: 150px 32px 50px 32px;
  }

  .nav-slogan {
    margin: auto;
    text-align: center;
    width: 400px;
    font-size: 20px;
    line-height: 30px;
  }

  .nav-button {
    display: flex;
    justify-content: center;


    button {
      padding: 15px 30px;
      margin-top: 30px;
      font-size: 16px;
    }
  }

  .navbar-advantage {
    max-width: 400px;
  }

  .nav-advantages {
    margin-bottom: 100px;

  }
}

