@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  width: 100%;
  transition: 0.5s;
}

.nav-line {
  width: 100%;
  height: 10px;
}

nav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 12345;
  display: block;
}


.navbar-contacts {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;


  .phone_number {
    margin-right: 15px;
  }

  .mail {
    margin-left: 15px;
  }
}

.navbar-menu {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-flow: wrap;

  .company-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
  }

  .navbar-items {
    display: flex;
    flex-flow: wrap;

    .navbar-item {
      padding-left: 30px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;

      .link {
        cursor: pointer;
      }

      .underline-item {
        position: relative;
        top: 7px;
      }

      .underline {
        width: 41px;
        height: 4px;
        background-color: whitesmoke;
        margin-left: auto;
        margin-right: auto;

      }
    }
  }
}


.sidebar-networks {
  width: auto;
  height: auto;
  z-index: 1000000;
  right: 5px;
  background: #FFFFFF;
  padding: 16px;
  margin-top: 200px;
  position: fixed;
  box-shadow: 38px 2px 67px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  display: none;
}

.whatsapp, .vk, .phone {
  margin-top: 19px;
}


.navbar-hamburger {
  padding: 5px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 11111112;


  #line1, #line2, #line3 {
    width: 35px;
    height: 5px;
    border-radius: 5px;
    margin: 2px;
    background-color: whitesmoke;
    transition: .5s;
    position: relative;

  }


}

.hamburger-menu {
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11111111;
  transition: .5s margin-left;
  background-color: #1F1F1F;
  display: none;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .hamburger-item {
    padding: 20px;

    .hamburger-line {
      background-color: whitesmoke;
      height: 3px;
      margin-top: 10px;


    }
  }

}

.hamburger-networks {
  display: flex;
  max-width: 200px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;

  .hamburger-phone, .hamburger-mail {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger-phone {
    background-color: #35bc7a;
  }

  .hamburger-mail {
    background-color: #007DF0;
  }
}

@media (min-width: 1025px) {
  .navbar {
    padding: 20px 120px 50px 120px;

  }
}

@media (max-width: 1025px) {

  .navbar-item {
    display: none;
  }

  .navbar-hamburger, .hamburger-menu {
    display: flex;
  }
}

@media (min-width: 1600px) {
  nav {
    max-width: 1500px;
  }
  .navbar-menu {
    max-width: 1300px;
  }
}

@media (max-width: 1025px) and (min-width: 820px) {
  .navbar {
    padding: 20px 100px 50px 100px;
  }

}

@media (max-width: 820px) and (min-width: 600px){
  .navbar {
    padding: 20px 50px 50px 50px;
  }

}

@media (min-width: 767px) {

  .sidebar-networks {
    display: block;
  }

  .hamburger-item {
    font-size: 30px;
  }

  .hamburger-networks {
    width: 200px;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .hamburger-phone, .hamburger-mail {
    width: 50px;
    height: 50px;

  }
}

@media (max-width: 767px) {
  .sidebar-networks {
    display: none;
  }

  .hamburger-item {
    font-size: 24px;
  }

  .hamburger-networks {
    width: 150px;

  }

  .hamburger-phone, .hamburger-mail {
    width: 40px;
    height: 40px;

  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 20px 32px 50px 32px;
  }

}
