
.ngx-image-gallery {
  z-index: 111111111111;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
      minmax(var(--auto-grid-min-size, 14rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Composition */
.team {
  --flow-space: 2em;
}

/* Blocks */
.image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: .5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.image::before,
.image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.image::before {

  transition: 300ms opacity linear;
}

.image::after {
  background: #1D4350; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A43931, #1D4350); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0;
  transition: 300ms opacity linear;
}

.image > * {
  z-index: 3;
}


.image h2,
.image p {
  margin-bottom: 10px;
  transform: translateY(2ex);
}

.image h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.03ch;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.image p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: #FFFFFF;
}

.image p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.image:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

//noinspection CssInvalidPseudoSelector
.image:hover :is(h2, p),
.image:focus :is(h2, p) {
  transform: none;
}

.image:hover::after,
.image:focus::after,
.image:hover::before,
.image:focus::before {
  opacity: 0.7;
}

.image:hover p,
.image:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.image:hover h2,
.image:focus h2 {
  opacity: 1;
  transition-delay: 200ms;
}

.image:hover img,
.image:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home {
  position: relative;
  background: url('../../../assets/background-image.png') no-repeat center center fixed;
  background-size: cover;
  min-width: 500px;
  min-height: 100vh;
  color: #fff;
  height: auto;
}

.home-body {
  margin-top: -96px;
  position: relative;

  .body-line {
    width: 100%;
    height: 10px;
  }

  .body-content {
    width: 100%;
    background-color: whitesmoke;
    height: auto;
    padding-left: 32px;
    padding-right: 32px;

    .line-contents {
      width: 100%;
      padding-top: 46px;
      padding-bottom: 46px;

      .line-content {
        width: 100%;
        height: 11px;
        background: rgba(196, 196, 196, 0.8);

      }
    }

  }
}

.services, .photo-albums, .blog {
  .services-title, .photo_albums-title, .blog-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;

    color: #1F1F1F;
  }

  .carousel {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
  }
}

.perfect-renovation {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-evenly;

  .renovation {
    margin-top: 40px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    filter: drop-shadow(0 0 0.75rem rgba(31, 31, 31, 0.79));

    .renovation-item {
      min-height: 325px;
      width: 100%;
      padding: 25px;
      border-radius: 20px;

      .renovation-title {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        text-align: center;

        color: #FFFFFF;
      }

      .renovation-description {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;

        color: #FFFFFF;

      }
    }
  }
}

.block-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  text-align: center;
  color: #1F1F1F;
}

.title-line, .title-line2 {
  width: 200px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.company-organizations {

  .organizations {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    width: 100%;
    justify-content: space-evenly;

    .company-organization {

      margin-left: 10px;
      margin-right: 10px;
      padding: 25px;

      .organization-content {
        text-align: center;
        color: #007DF0;
      }

      .organization-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 96px;
        height: 96px;
        margin-left: auto;
        margin-right: auto;
      }

      .organization-title {
        font-family: Roboto, sans-serif;
        font-style: normal;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        color: #1F1F1F;
      }

      .organization-description {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        color: rgba(31, 31, 31, 0.79);

      }
    }
  }

  .organizations-description {
    margin-top: 50px;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;

    color: rgba(31, 31, 31, 0.79);
  }
}

.company-goals-content {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  width: 100%;
  justify-content: space-evenly;

  .company-goal {
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;

    .goals {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .goal-count {
        position: absolute;
        font-family: ABeeZee, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;

        color: #FFFFFF;

      }
    }

    .goal-title {
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 700;
      text-align: center;

      color: #1F1F1F;
    }

    .goal-description {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      color: rgba(31, 31, 31, 0.79);
      text-align: center;
    }
  }
}

@media (min-width: 1600px) {

  .home-body {
    max-width: 1500px;
    margin: auto;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .home-body {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media (min-width: 1025px) {
  .services-title, .photo_albums-title, .blog-title {
    font-size: 27px;
  }

  .renovation-title {
    font-size: 27px;
  }
  .renovation-description {
    margin-top: 30px;

  }
  .organization-title {
    font-size: 27px;
  }
  .company-organization {
    margin-top: 40px;

  }

  .company-goal {
    margin-top: 40px;
  }

  .goal-title {
    font-size: 27px;
  }
}

@media (max-width: 1025px) and (min-width: 820px) {
  .home-body {
    margin-left: 100px;
    margin-right: 100px;
  }

}

@media (max-width: 1025px) {

  .block-title {
    font-size: 27px;
  }

  .services-title, .photo_albums-title, .blog-title {
    font-size: 27px;
  }
  .renovation-title {
    font-size: 24px;
  }

  .renovation-description {
    margin-top: 20px;
  }

  .organization-title {
    font-size: 24px;
  }

  .company-organization {
    margin-top: 30px;
  }

  .company-goal {
    margin-top: 30px;
  }

  .goal-title {
    font-size: 24px;
  }
}

@media (min-width: 991px) {
  .renovation {
    width: 330px;

    .renovation-title {
      font-size: 24px;

    }

    .renovation-description {
      font-size: 16px;
    }
  }
  .company-organization {
    width: 330px;

    .organization-title {
      font-size: 24px;

    }

    .organization-description {
      text-align: center;
      font-size: 16px;

    }
  }
  .company-goal {
    width: 330px;

    .goal-title {
      font-size: 24px;

    }

    .goal-description {
      text-align: center;
      font-size: 16px;

    }
  }

}


@media (max-width: 991px) {
  .renovation {
    width: 450px;

    .renovation-title {
      font-size: 30px;

    }

    .renovation-description {
      text-align: center;
      font-size: 20px;
    }
  }
  .company-organization {
    width: 450px;

    .organization-title {
      font-size: 30px;

    }

    .organization-description {
      text-align: center;
      font-size: 20px;

    }
  }
  .company-goal {
    width: 450px;

    .goal-title {
      font-size: 30px;

    }

    .goal-description {
      text-align: center;
      font-size: 20px;

    }
  }
}

@media (max-width: 820px) and (min-width: 600px) {
  .home-body {
    margin-left: 50px;
    margin-right: 50px;
  }

}


@media (min-width: 767px) {
  .image {
    height: 160px;
    width: 220px;

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }
  .title-line2 {
    display: none;
  }

  .home {
    padding-bottom: 160px;

  }
}


@media (max-width: 767px) and (min-width: 450px) {
  .image {
    width: 350px;

    p {
      max-width: 300px;

    }
  }
}

@media (max-width: 767px) {
  .image {
    height: 250px;


    h2 {
      font-size: 24px;
      max-width: 300px;
    }

    p {
      font-size: 20px;
    }
  }
  .services-title, .photo_albums-title, .blog-title {
    text-align: center;
  }
  .title-line2 {
    display: block;
  }


  .home {
    padding-bottom: 80px;

  }

  .organizations-description {
    text-align: center;
  }
}


@media (max-width: 600px) {
  .home-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}


@media (max-width: 450px) {
  .image {
    width: 300px;

    p {
      max-width: 250px;

    }
  }
}

//noinspection ALL
::ng-deep {

  .nb-theme-dark {

    a {
      color: whitesmoke;
      text-decoration: none;

      &:hover {
        color: whitesmoke;
      }
    }
  }

  .slick-initialized .slick-slide {
    display: flex;
    justify-content: space-evenly;

  }

  .slick-active {
    li {
      box-sizing: border-box;
    }
  }

  .slick-prev, .slick-next {
    &:before {
      margin-top: -10px;
      background: transparent;
      border-radius: 50%;
      border: 2px solid;
      color: #1F1F1F;
      font-family: cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      width: 35px;
      height: 35px;
      padding-bottom: 5px;
    }
  }

  .slick-prev {
    margin-left: -15px;

    &:before {
      content: "<";
    }
  }

  .slick-next {

    &:before {
      content: ">";
    }
  }
}


.contacts {
  padding-bottom: 70px;
}



