<div class="home" *ngIf="company && company !== []">
  <app-home-navbar></app-home-navbar>

  <div class="home-body">
    <div class="body-line"
         [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>
    <div class="body-content">
      <div class="line-contents">
        <div class="line-content"></div>

      </div>
      <div class="services" *ngIf="services && services !== []">
        <a [routerLink]="'/services'">
          <div class="services-title">
            {{home_items.services}}
          </div>
        </a>
        <div class="title-line2"
             [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>

        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (breakpoint)="breakpoint($event)">
          <div ngxSlickItem *ngFor="let item of services; let i=index" class="slide">


            <div class="team">
              <div class="auto-grid" role="list">
                <div class="slide">
                  <a class="image" (click)="openGallery(i); openServiceGallery(i)"
                     [ngStyle]="{'background-image': item.mainProductImage.path !== null?'url(' + imageUrl +  item.mainProductImage.path + ')' : 'url(\'../../../assets/default-image.png\')'}">
                    <h2 class="image-title">{{item.title.length >= 15 ? item.title.substring(0, item.title.indexOf(" ", 15) !== -1 ? item.title.indexOf(" ", 15) :  15)  + '...' : item.title}}</h2>
                    <p>{{item.miniDescription.length >= 100 ? item.miniDescription.substring(0, item.miniDescription.indexOf( " ", 100) !== -1 ? item.miniDescription.indexOf(" ", 100) :  100)  + '...' : item.miniDescription}}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>


        </ngx-slick-carousel>
        <div class="line-contents">
          <div class="line-content"></div>
        </div>

      </div>


      <div class="perfect-renovations" *ngIf="perfect_renovations && perfect_renovations !== []">
        <div class="block-title">
          {{perfect_renovations.title}}
        </div>
        <div class="title-line"
             [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>
        <div class="perfect-renovation">
          <div class="renovation"
               *ngFor="let item of perfect_renovations.renovation; let i=index">
            <div class="renovation-item"
                 [ngStyle]="{'background-color': i % 2 === 0 ? company.principalColor ? company.principalColor : '#007DF0' : company.secondaryColor ? company.secondaryColor : '#E7000E' }">
              <div class="renovation-title">
                {{item.title}}
              </div>
              <div class="renovation-description">
                {{item.description}}
              </div>
            </div>
          </div>
        </div>
        <div class="line-contents">
          <div class="line-content"></div>
        </div>
      </div>


      <div class="company-organizations" *ngIf="organizations && organizations !== []">
        <div class="block-title">
          {{organizations.title}}
        </div>
        <div class="title-line"
             [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>
        <div class="organizations">
          <div class="company-organization"
               *ngFor="let item of organizations.organizations">
            <div class="organization-content">
              <div class="organization-image"
                   [ngStyle]="{'background-image': item.mainProductImage.path ? 'url(' + imageUrl +  item.mainProductImage.path + ')' : 'url(\'../../../assets/default-image.png\')'}"></div>

              <div class="organization-title">
                {{item.title}}
              </div>

              <div class="organization-description">
                {{item.description}}
              </div>
            </div>

          </div>

          <div class="organizations-description"> {{organizations.description}}</div>
        </div>

        <div class="line-contents">
          <div class="line-content"></div>
        </div>
      </div>


      <div class="company-goals" *ngIf="goals && goals !== []">
        <div class="block-title">
          {{goals.title}}
        </div>
        <div class="title-line"
             [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>

        <div class="company-goals-content">

          <div class="company-goal" *ngFor="let item of goals.goals; let i = index">
            <div class="goals">
              <div class="goal-svg">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M80 39.9999C80 51.2707 67.5002 52.7298 60 60.0003C52.7994 66.9804 50.8206 80 40 80C28.6753 80 27.2773 62.5637 20 55.0003C13.0813 47.8097 0 50.7666 0 39.9999C0 28.9455 17.7514 27.2402 25 20.0002C32.2372 12.7716 43.9629 0 55 0C65.1445 0 62.9487 3.77638 70 10C78.3042 17.3295 80 28.0529 80 39.9999Z"
                    [ngStyle]="{'fill': i % 2 === 0 ?company.secondaryColor ? company.secondaryColor : '#E7000E': company.principalColor ? company.principalColor : '#007DF0'  }"/>
                </svg>
              </div>
              <div class="goal-count">
                {{i + 1}}
              </div>
            </div>

            <div class="goal-title">
              {{item.title}}
            </div>

            <div class="goal-description">
              {{item.description}}
            </div>

          </div>

        </div>
        <div class="line-contents">
          <div class="line-content"></div>
        </div>
      </div>


      <div class="photo-albums" *ngIf="albums && albums !== []">
        <a [routerLink]="'/photo-albums'">

          <div class="photo_albums-title">
            {{home_items.photo_albums}}
          </div>

        </a>
        <div class="title-line2"
             [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (breakpoint)="breakpoint($event)">
          <div ngxSlickItem *ngFor="let item of albums; let i=index" class="slide">


            <div class="team">
              <div class="auto-grid" role="list">
                <div class="slide">
                  <a class="image" (click)="openGallery(i); openAlbumsGallery(i)"
                     [ngStyle]="{'background-image': item.mainProductImage.path !== null?'url(' + imageUrl +  item.mainProductImage.path + ')' : 'url(\'../../../assets/default-image.png\')'}">
                    <h2 class="image-title">{{item.title.length >= 15 ? item.title.substring(0, item.title.indexOf(" ", 15) !== -1 ? item.title.indexOf(" ", 15) :  15)  + '...' : item.title}}</h2>
                    <p>{{item.description.length >= 100 ? item.description.substring(0, item.description.indexOf( " ", 100) !== -1 ? item.description.indexOf(" ", 100) :  100)  + '...' : item.description}}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </ngx-slick-carousel>
        <div class="line-contents">
          <div class="line-content"></div>
        </div>
      </div>


      <div class="blog" *ngIf="blogs && blogs !== []">
        <a [routerLink]="'/blog'">

          <div class="blog-title">
            {{home_items.blog}}
          </div>
        </a>
        <div class="title-line2"
             [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>


        <app-blogs [home]="true"></app-blogs>
        <div class="line-contents">
          <div class="line-content"></div>
        </div>
      </div>

      <div class="contacts" *ngIf="company && company !== []">
        <app-contact [map_title]="'map2'" [home]="true"></app-contact>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
  <ngx-image-gallery
    class="ngx-image-gallery"
    [images]="services_gallery ? servicesImages : albumsImages"
    [conf]="conf"
    (onClose)="galleryClosed()"
    (onImageClicked)="galleryImageClicked($event)"
    (onImageChange)="galleryImageChanged($event)"
    (onOpen)="galleryOpened($event)"
  ></ngx-image-gallery>

  <app-go-to-top></app-go-to-top>
</div>
<app-spinner></app-spinner>


