
.form-group {
  display: grid;
}

.dialog {
  width: 90vw;
  max-width: 600px;
  overflow: scroll;
  max-height: 80vh;
}

label {
  margin-bottom: 1rem;
}

.button {
  margin: 10px 10px 10px 0;
}

.smart-table {
  margin-top: 20px;
}

.user {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a, li {
  cursor: pointer;
  text-decoration: none;
}

.pagination {
  justify-content: center;
}

.pages {
  display: flex;

  .page-link {
    border-radius: 0;
  }
}
