@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.photo-albums {
  position: relative;
  background: url('../../../assets/background-image.png') no-repeat center center fixed;
  background-size: cover;
  min-width: 500px;
  min-height: 100vh;
  color: #fff;
  height: auto;
  width: 100%;
  padding-bottom: 160px;

  .photo-albums-body {

    padding-top: 220px;
    height: auto;

    .body-line {
      width: 100%;
      height: 10px;
    }

    .body-content {
      width: 100%;
      background-color: whitesmoke;
      height: auto;
      padding-left: 32px;
      padding-bottom: 140px;
      padding-right: 32px;

      .line-contents {
        width: 100%;
        padding-top: 46px;
        padding-bottom: 46px;

        .line-content {
          width: 100%;
          height: 11px;
          background: rgba(196, 196, 196, 0.8);

        }
      }

    }
  }

}

.photo-albums-title {
  margin: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: rgba(31, 31, 31, 0.79);;
  padding-bottom: 10px;
}


.photo-albums-mini-description {
  font-family: Roboto, sans-serif;
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;

  color: rgba(31, 31, 31, 0.79);
}


.title-line {
  width: 200px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.albums {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-evenly;


  .album {
    margin-top: 60px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    overflow: hidden;


    .album-image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 230px;
      width: 100%;




      &:hover {

        .album-background {
          animation: fadeInAnimation ease 1s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          position: relative;
          display: flex;
          padding: 25px;
          cursor: pointer;
          width: 100%;
          background: rgba(31, 31, 31, .65);
          align-content: center;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-end;


          .album-title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            color: #FFFFFF;
            display: block;
          }

          .album-date {
            margin-top: 10px;
            display: block;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            color: #FFFFFF;

          }


        }

      }


    }
  }
}


//noinspection ALL
::ng-deep {
  .nb-theme-dark {
    p, h1, h2, h3, h4, h5, h6, span, li, a {
      color: initial;
      font-size: inherit;
      line-height: initial;
    }

    a {
      color: whitesmoke;
      text-decoration: none;

      &:hover {
        color: whitesmoke;
      }
    }


    nb-layout {


      .layout {
        background: none;
        width: 0;
        height: 0;
        min-width: 0;
        max-width: 0;
        min-height: 0;
        max-height: 0;
      }

      .scrollable-container {

        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
      }
    }

    nb-card {
      border: none;
      background: none;
    }


    .cdk-overlay-container {
      z-index: 123456789;

    }
  }


}


@media (min-width: 1600px) {

  .photo-albums-body {
    max-width: 1500px;
    margin: auto;
  }
}


@media (min-width: 1025px) and (max-width: 1600px) {
  .photo-albums-body {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media (max-width: 1025px) and (min-width: 820px) {
  .photo-albums-body {
    margin-left: 100px;
    margin-right: 100px;
  }

}

@media (min-width: 1025px) {
  .album-title, .album-date {
    display: none;
  }
}

@media (max-width: 1025px) {
  .album-background {
    position: relative;
    display: flex;
    padding: 25px;
    cursor: pointer;
    width: 100%;
    background: rgba(31, 31, 31, .35);
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;

    .album-title, .album-date {
      display: block;
    }
  }
}

@media (min-width: 991px) {
  .album {
    width: 330px;

    .album-title {
      font-size: 22px;

    }

    .album-date {
      font-size: 16px;

    }
  }

  .album-background {
    min-height: 230px;

  }
}

@media (max-width: 991px) {
  .album {
    width: 450px;

    .album-title {
      font-size: 28px;

    }

    .album-date {
      font-size: 20px;

    }
  }
}

@media (max-width: 820px) and (min-width: 600px) {
  .photo-albums-body {
    margin-left: 50px;
    margin-right: 50px;
  }

}

@media (min-width: 767px) {
  .photo-albums-mini-description, .photo-albums-title {
    width: 75%;

  }
}

@media (max-width: 767px) {
  .photo-albums-mini-description, .photo-albums-title {
    width: 100%;

  }
}


@media (min-width: 600px) and (max-width: 991px) {
  .album-background {
    min-height: 350px;

  }
}

@media (max-width: 600px) {
  .album-background {
    min-height: 300px;
  }

  .photo-albums-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}


