
a {
  text-decoration: none;
  color: whitesmoke;
}


.logOut-button {
  margin-top: 50px;
}

.admin-list {
  overflow-y: scroll;
  max-height: 60vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #192038;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #101426;
  border-radius: 10px;
}
