.contacts {
  position: relative;
  background: url('../../../assets/background-image.png') no-repeat center center fixed;
  background-size: cover;
  min-width: 500px;
  min-height: 100vh;
  color: #fff;
  height: auto;
  width: 100%;
  padding-bottom: 160px;


  .contacts-body {
    padding-top: 220px;
    height: auto;

    .body-line {
      width: 100%;
      height: 10px;
    }

    .body-content {
      width: 100%;
      background-color: whitesmoke;
      height: auto;
      padding-left: 32px;
      padding-bottom: 140px;
      padding-right: 32px;

      .line-contents {
        width: 100%;
        padding-top: 46px;
        padding-bottom: 46px;

        .line-content {
          width: 100%;
          height: 11px;
          background: rgba(196, 196, 196, 0.8);

        }
      }

    }
  }
}


@media (min-width: 1600px) {

  .contacts-body {
    max-width: 1500px;
    margin: auto;
  }
}


@media (min-width: 1025px) and (max-width: 1600px) {
  .contacts-body {
    margin-left: 120px;
    margin-right: 120px;
  }
}


@media (max-width: 1025px) and (min-width: 820px) {
  .contacts-body {
    margin-left: 100px;
    margin-right: 100px;
  }

}


@media (max-width: 820px) and (min-width: 600px) {
  .contacts-body {
    margin-left: 50px;
    margin-right: 50px;
  }

}


@media (max-width: 600px) {
  .contacts-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}


