<div class="contacts" *ngIf="company && company !== []">
  <app-navbar [path]="'/contacts'" [height]="20" [home]="false"></app-navbar>

  <div class="contacts-body">
    <div class="body-line"
         [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>

    <div class="body-content">
      <div class="line-contents">
        <div class="line-content"></div>
      </div>

      <app-contact [map_title]="'map1'" [home]="false"></app-contact>
    </div>
  </div>

  <app-footer></app-footer>
  <app-spinner></app-spinner>
  <app-go-to-top></app-go-to-top>
</div>

