.ql-container, .ql-editor {
  height: auto; /* auto-growth */
}

*[quill__html] {
  display: none;
  margin: 0;
  background: whitesmoke;
  box-sizing: border-box;
  color: rgb(204, 204, 204);
  outline: none;
  padding: 12px 15px;
  line-height: 24px;
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
}

*[quill__html *= '-active-'] {
  display: initial;
}

.ql-editor.ql-blank::before {
  color: whitesmoke;
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff;
}

.ql-toolbar .ql-fill {
  fill: #fff;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: #fff;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  background-color: black;
}

.ql-container, .ql-editor {
  max-height: 50vh;
}
