
img {
  position: fixed;
  left: 50%;
  bottom: 50%;
  max-width: 30vmin;
  z-index: 1000000000;
  height: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
