<div class="about-us" *ngIf="about_us && about_us !== []">
  <app-navbar [path]="'/about-us'" [height]="20" [home]="false"></app-navbar>

  <div class="about-us-body">

    <div class="body-line"
         [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>

    <div class="body-content">
      <div class="line-contents">
        <div class="line-content"></div>
      </div>

      <div class="about-us-title">
        {{about_us_items.title}}
      </div>

      <div class="title-line"
           [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>
      <div class="about-us-mini-description">
        {{about_us.miniDescription}}
      </div>

      <div class="about-us-description" *ngIf="about_us.description !== ''" [innerHTML]="about_us.description"></div>

    </div>

  </div>

  <app-footer></app-footer>
  <app-go-to-top></app-go-to-top>
  <app-spinner></app-spinner>
</div>
