.ngx-image-gallery {
  z-index: 11111111111112;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Blocks */
.image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;

  &:hover {
    .slide-background {
      display: block;
      background: rgba(31, 31, 31, .65);
      animation: fadeInAnimation ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      vertical-align: middle;
    }
  }

  .slide-background {
    min-height: 250px;
    height: 100%;
    width: 100%;

    .image-title {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      padding-bottom: 30px;
      text-align: center;
      color: #FFFFFF;
      margin: auto;
    }

    .image-description {
      margin: auto;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      text-align: center;

      color: #FFFFFF;

    }
  }
}


//noinspection ALL
::ng-deep {

  .slick-initialized .slick-slide {
    display: flex;
    justify-content: space-evenly;

  }

  .slick-active {
    li {
      box-sizing: border-box;
    }
  }

  .slick-prev, .slick-next {
    &:before {
      margin-top: -10px;
      background: transparent;
      border-radius: 50%;
      border: 2px solid;
      color: #1F1F1F;
      background-color: whitesmoke;
      font-family: cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      width: 35px;
      height: 35px;
      padding-bottom: 5px;
    }
  }

  .slick-prev {
    margin-left: -15px;

    &:before {
      content: "<";
    }
  }

  .slick-next {

    &:before {
      content: ">";
    }
  }
}

.carousel {

  margin-top: 30px;
}


.dialog {
  height: auto;
  margin: auto;

  .dialog-background {
    overflow: initial;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100vh;

    .close-dialog {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }

  .album-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;

    color: #FFFFFF;
  }
}

@media (min-width: 1600px) {
  .dialog {
    max-width: 1500px;
  }
}

@media (min-width: 767px) {
  .slide-background {
    display: none;
    padding: 25px;

  }

  .image {
    height: 300px;
    width: 430px;
  }

  .album-title {
    padding-bottom: 50px;

  }

  .dialog-background {
    padding: 50px 50px 150px;

  }

  .image-title, .image-description {
    width: 80%;

  }

  .carousel {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .slide-background {
    display: block;
    background: rgba(31, 31, 31, .5);
    vertical-align: middle;
    padding: 15px;

  }

  .album-title {
    padding-bottom: 20px;

  }

  .dialog-background {
    padding: 50px 30px 80px;

  }

  .carousel {
    margin-right: 20px;
    margin-left: 20px;
  }
}


@media (min-width: 450px) {
  .dialog {
    width: 84vw;

  }

}

@media (max-width: 450px) and (min-width: 375px){
  .dialog {
    width: 95vw;

  }
}
@media (max-width: 375px) and (min-width: 280px) {
  .dialog {
    width: 110vw;

  }
}
@media (max-width: 280px) {
  .dialog {
    width: 135vw;

  }
}



