/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~leaflet/dist/leaflet.css";


p, h1, h2, h3, h4, h5, h6, span, li, div {
  margin-bottom: 0;
  line-height: initial;
}

a {
  color: whitesmoke;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: whitesmoke;
  }
}




