.form-group {
  display: grid;
}

.dialog {
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  overflow: scroll;
  max-height: 80vh;
}

label {
  margin-bottom: 1rem;
}

.button {
  margin: 10px 10px 10px 0;
}

.smart-table {
  margin-top: 20px;
}

.about-us {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quill-component {
  max-width: 1100px;
}

textarea {
  height: 150px;
}
